.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.root {
  display: block;
  border-radius: 50%;
  border: 0.25ch solid #cc4444;
  padding: 1ch;
}